In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('Position_Salaries.csv')
df
# reading csv file

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [4]:
df.info()
#checking basic info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  10 non-null     object
 1   Level     10 non-null     int64
 2   Salary    10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 368.0+ bytes

In [6]:
X=pd.DataFrame(df['Level'])
Y=df['Salary']
# Assuming X and Y values

In [7]:
type(X)
#checking type of X

pandas.core.frame.DataFrame

In [8]:
type(Y)
# Checking type of Y

pandas.core.series.Series

In [230]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 17)
# introducing train_test_split library

In [231]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators = 4,random_state=0)
model.fit(X_train, Y_train)
# function call of random forest 
# importing random forst Library

RandomForestRegressor(n_estimators=4, random_state=0)

In [232]:
print(model.score(X_train, Y_train))
print(model.score(X_test, Y_test))
# Testing and Training score

0.9777912903660234
0.9129774305555556

In [233]:
model.predict([[6.5]]).reshape(1, 1)
# predicting salary

array([[162500.]])

In [ ]:
#Inference -  As per the dataset and per Random forest model the model predicts Rs:16,250 fro level 6.5. 
 #so the employee informing the company about last pay  is genuene and trustworthy